<!DOCTYPE html>
<html>
<head>
	<title>MoCA (Model of Coordinated Action) | Redefining the Field of Computer Supported Cooperative Work</title>
	<link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
	<script type='text/javascript' src='http://dataluna.com/jquery-1.10.1.js'></script>
	
	
  	<style type='text/css'>
body {
    font-size: 10px;
    font-family: Helvetica, Arial;
    background-color: #fff;
    background-image: url("assets/absurdidad.png");

}
h1 {
    font-size: 20px;
    text-align: center;
}
h2 {
    font-size: 18px;
    text-align: center;
}
p {
	line-height: 16px;
	font-size: 10px;
	font-weight: 300;
	margin: 0px 0px 0px;
	padding: 5px 5px 5px 5px; 
}
#paper {
    border: 1px solid #333;
}
#leftCol {
    position: fixed;
    width: 15%;
    background-color: #DDD;
    background-color: #e3e1e5;
    font-size: 9px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0px;
    padding-top: 10px;
    border-right:1px solid #bfbfbf;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    font: 200 9px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #bfbfbf;
}
li:last-child {
    border: none;
}
li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 6px 15px 6px 15px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
li a:hover {
    font-size: 9px;
    background: #fefefe;
}
#pdf {
    position: fixed;
    width: 40%;
    background-color: #DDD;
    font-size: 9px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0px;
}
.non-floater {
    overflow: hidden;
}
iframe {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
}
#content {
    position: relative;
    margin-left: 15%;
    width: 85%;
    border:0px solid red;
}
.box {
    min-height: 10px;
    border: 1px solid #eee;
    border: 1px solid #ccc;
    padding: 2%;
}
.left {
    float: left;
    width: 42%;
}
.right {
    float: right;
    width: 42%;
}
	</style>
	
</head>

<body>
<div id="leftCol" class="nav">
    <h1>MoCA</h1>
    <ul id="menu">
        {% for paper in papers %}
         <li><a href="/paper?pgNum={{paper.pgNum}}">{{paper.title}}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="main">
	<div id="content" style="margin-top:5%;">
	    <p style="text-align:center; color: #444; font-size:34px; line-height:34px;"><strong>Welcome to MoCA</strong> </br>
	    <span style="font-size:20px;">(Model of Coordinated Action) </span></br>
	    </br><img src="assets/logo.png" width="" height=""/> </br></br> 
	    <span style="font-size:16px; font-style: italic;">Redefining the Field of Computer Supported Cooperative Work</span>
	    </p>
	</div>
</div>
</body>

</html>