<!DOCTYPE html>
<html>
<head>
	<title>MoCA (Model of Coordinated Action) | Redefining the Field of Computer Supported Cooperative Work</title>
	<link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
	<script type='text/javascript' src='http://dataluna.com/jquery-1.10.1.js'></script>
	
	
  	<style type='text/css'>
body {
    font-size: 10px;
    font-family: Helvetica, Arial;
    background-color: #fff;
    background-image: url("assets/absurdidad.png");
}
h1 {
    font-size: 20px;
    text-align: center;
}
h1 a {
    font-size: 20px;
    text-align: center;
    color:#000;
    text-decoration: none;
}
h2 {
    font-size: 18px;
    text-align: center;
}
h3 {
	font-size: 10px;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 0px 5px;
	text-transform: uppercase;
	clear:none;
	display:inline-block;
}
p {
	line-height: 16px;
	font-size: 10px;
	font-weight: 300;
	margin: 0px 0px 0px;
	padding: 5px 5px 5px 5px; 
}
#paper {
    border: 1px solid #333;
}
#leftCol {
    position: fixed;
    width: 15%;
    background-color: #DDD;
    background-color: #e3e1e5;
    font-size: 9px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0px;
    padding-top: 10px;
    border-right:1px solid #bfbfbf;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    font: 200 9px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #bfbfbf;
}
li:last-child {
    border: none;
}
li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 6px 15px 6px 15px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
li a:hover {
    font-size: 9px;
    background: #fefefe;
}
#pdf {
    position: fixed;
    width: 40%;
    background-color: #DDD;
    font-size: 9px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0px;
}
.non-floater {
    overflow: hidden;
}
iframe {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
}
#content {
    position: relative;
    margin-left: 16%;
    width: 43%;
    border: 0px solid red;
}
.box {
    min-height: 2px;
    border: 1px solid #eee;
    border: 1px solid #ddd;
    padding: 15px 12px 15px 15px;
    padding: 3%;
    margin-top:5px;
    background-color:#fff;
}
.fullwidth {
	width:93%;
}
.left {
    float: left;
    width: 49.5%;
}
.right {
    float: right;
    width: 49.5%;
}
.leftside {
	float: left;
}
.rightside {
	float:right;
}
form {
  text-align: center;
}
</style>

<script type="text/javascript"> var url = window.location.href; </script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
	function initialize() {
		var mapProp = {
    	center:new google.maps.LatLng(51.508742,-0.120850),
    	zoom:2,
    	mapTypeId:google.maps.MapTypeId.ROADMAP
		};
  		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
	
</head>
<body>
		<div id="leftCol" class="nav">
			<h1><a href="http://uwmoca.appspot.com/">MoCA</a></h1>
			<ul id="menu">
 				{% for paper in papers %}
					<li><a href="/paper?pgNum={{paper.pgNum}}">{{paper.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		
<div class="main">
<div id="content">
{% for paper in papers %}
 <script type="text/javascript">
 var url = window.location.href;
 
	if(url == "http://localhost:14080/paper?pgNum={{ paper.pgNum }}" || url == "http://uwmoca.appspot.com/paper?pgNum={{ paper.pgNum }}"){
		var currPgNum = {{ paper.pgNum }};
		var pdfURL = "http://www.dataluna.com/moca-papers/" + currPgNum + ".pdf#view=FitH";
		var geoCodeLocations = [];
		document.write("<div style='display:none;'>{% for items in paper.geoLocations %}" + geoCodeLocations.push("{{ items }}") + "{% endfor %}</div>");
		
		$(document).ready(function () {
		    var map;
		    var elevator;
		    var myOptions = {
		        zoom: 1,
		        center: new google.maps.LatLng(19, 0),
		        mapTypeId: 'terrain'
		    };
		    map = new google.maps.Map($('#map_canvas')[0], myOptions);
			var testLocations = ['1600 Amphitheatre Parkway, Mountain View, CA', 'Africa', 'Asia','North America','South America'];
		    var addresses = geoCodeLocations;
		
		    for (var x = 0; x < addresses.length; x++) {
		        $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {
		            var p = data.results[0].geometry.location
		            var latlng = new google.maps.LatLng(p.lat, p.lng);
		            new google.maps.Marker({
		                position: latlng,
		                map: map
		            });
		        });
		    }
		}); 
		
		document.write("<div style='clear:both; width:100%; display:block; border:0px solid red; height: 1px;'></div>"
		+"<h1>{{paper.title}}</h1>"  
      	+"<div class='left box' style='width: 61.7%; padding:1.5%;'><p><strong>AUTHOR: </strong> {{paper.author}}</br><strong>INSTITUTION: </strong> {{paper.institution}} </p> </div>"
      	+"<div class='right box' style='width: 30.5%; padding:1.5%;'><p><strong>SESSION: </strong> {{paper.session}}</br><strong>PAGE NUMBER: </strong> {{paper.pgNum}}   {{ list1 }}</p></div>"
            +"<div class='left box' style='width: 95%; padding:2%;'>"
	        	+"<form action='/sendemail' name='{{ paper.pgNum }}email' id='{{ paper.pgNum }}email' method='post'>"
					+"<td><label for='{{ paper.pgNum }}to'>Send link for approval: </label></td>"
	            	+"<td><input type='text' id='{{ paper.pgNum }}to' name='to' placeholder='email address' /></td>"
	            	+"<input type='hidden' id='{{ paper.pgNum }}pgN' value='{{ paper.pgNum }}' name='pgN' />"
					+"<input type='submit'>"
					+"<div id='{{ paper.pgNum }}formmessage'></div>"
				+"</form>"			
			+"</div>"
            +"<div class='left box' style='width: 96.5%; padding:1.5%; clear:both;'><h3>Coordinated Action:</h3> <p><strong>({{paper.CA}}): </strong> {{paper.coordinated_action}}</p></div>"
			+"<div class='left'>"
			+"<div class='fullwidth box'><h3>Synchronicity:</h3><p>{{paper.synchronicity}}</p></div>"
            +"</div>"
            +"<div class='right'>"
	        +"<div class='fullwidth box'><h3>Scale:</h3><p>{{paper.scale}}</p> </div>"
	        +"<div class='fullwidth box'><h3>NCoP:</h3><p>{{paper.number_of_communities_of_practice}}</p></div>"
            +"</div>"
            
            +"<div class='left box' style='width: 96.5%; padding:1.5% 1.5% 0px 1.5%;'>"
            +"<h3>Physical Distribution:</h3><p>{{paper.physical_distribution}}</br>"
            +"<div id='map_canvas' style='width:100%; height:200px'></div></p>"
            +"</div>"
          
            +"<div class='left'>"
	        +"<div class='fullwidth box'><h3>Nascence 1:</h3><p>{{paper.nascence_one}}</p></div>"
	        +"<div class='fullwidth box'><h3>Planned Permanence:</h3><p>{{paper.planned_permanence}}</p></div>"
	        +"</div>"
            +"<div class='right'>"
            +"<div class='fullwidth box'><h3>Nascence 2:</h3><p>{{paper.nascence_two}}</p></div>"
	        +"<div class='fullwidth box'><h3>Turnover:</h3><p>{{paper.turnover}}</p></div>" 
            +"<div style='clear:both; width:100%; display:block; border:0px solid red; height: 100px;'></div>"
            +"</div>"
            +"<div class='non-floater' id='pdf'><iframe id='frame' src='" + pdfURL + "'></iframe></div>"  
            );
  		}
  		
  		$("form#{{ paper.pgNum }}email").submit(function( event ) {
		event.preventDefault();
		url = "/sendemail.json?"+$(this).serialize();
		$.getJSON(url).done(function(data){
			$("#{{ paper.pgNum }}formmeshttps://mail.google.com/mail/u/0/#inboxsage").empty();
			if ("message" in data){
				$("#{{ paper.pgNum }}formmessage").append(data.message);
			};
		});
	});
  </script>
{% endfor %}
</div>  
</div>
	</body>
</html>